body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: antiquewhite;
}

.container {
  background-color: white;
  max-width: 600px;

  margin: 60px auto;
  padding: 20px 25px;
  border-radius: 6px;
  box-shadow: 10px 5px 5px grey;
}

h1 {
  text-align: center;
}
h2 {
  font-size: 28px;
}

.select-city {
  font-size: 16px;
  width: 100%;
  padding: 10px 25px;
}
.city {
  display: flex;
  justify-content: space-between;
}

.time {
  margin: 20px 0;
  font-size: 28px;
}
.time small {
  font-size: 16px;
}
.date {
  line-height: 0;
}
footer {
  text-align: center;
  opacity: 0.8;
}
